torch==1.8.1
opencv-python==4.4.0.46
einops==0.6.1
scipy==1.10.1
h5py==3.9.0
hdf5storage==0.1.19
tqdm==4.65.0
imageio==2.31.1
scikit-image==0.21.0
scikit-learn
torchsummary==1.5.1
matplotlib==3.7.2
